<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Error: 404 - Page Not found.</h1>
    <br>
    <p><b>Whoops: </b>It looks like the page you were after does not exist.</p>
</body>
<%- include('./partials/footer.ejs') %>

</html>