<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <!-- adding in Partial info for nav section-->
    <%- include('./partials/nav.ejs') %>

    <div class="About content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra gravida dui, finibus bibendum sapien
            elementum ac. Etiam sem augue, convallis a justo non, efficitur sagittis turpis. Aliquam nec blandit metus.
            Phasellus scelerisque auctor arcu nec fringilla. Mauris mauris elit, elementum non malesuada a, hendrerit a
            elit. Nullam mollis dapibus malesuada. Aliquam erat volutpat. Sed tincidunt pellentesque nisl at efficitur.
            Vivamus facilisis hendrerit nunc bibendum dictum. Integer nec nulla augue. Cras a hendrerit justo, eget
            laoreet nisi.</p>
        <p>Donec a dui sapien. Mauris nisl sapien, euismod vitae faucibus nec, sagittis ac felis. Integer cursus
            pellentesque ex, at vulputate velit elementum eu. Ut id aliquet felis. Quisque sit amet ipsum et magna
            vestibulum sollicitudin. Ut fermentum semper fringilla. Morbi eu pretium leo, vitae suscipit tellus. Sed
            quis pretium tellus. Duis facilisis lectus risus, eget accumsan urna eleifend eu. Nullam suscipit id quam a
            placerat. Maecenas blandit quis magna nec ornare. Nunc vitae posuere lorem. Curabitur nec ipsum ornare,
            ullamcorper nulla eu, accumsan turpis. Nunc feugiat aliquam elit non consequat. Donec dapibus blandit dolor
            non dapibus.</p>
        <p>Maecenas sollicitudin vel lacus vel ultrices. Nunc vestibulum fringilla velit, sit amet tincidunt magna
            mattis id. Curabitur turpis mauris, pulvinar id neque a, fringilla rutrum elit. Nullam et tellus at elit
            auctor euismod. Ut rhoncus diam mollis, laoreet dui nec, rutrum sapien. Aenean leo quam, semper id lacinia
            sed, dapibus at eros. Suspendisse eget eros urna. Donec imperdiet tortor non lacus hendrerit, at fermentum
            leo eleifend. Integer aliquet in massa non sagittis. Proin non lacinia mi. Fusce aliquam, sem vitae porta
            rhoncus, tortor massa interdum purus, non tincidunt lacus tortor a risus. Sed condimentum porttitor dui at
            mattis. Pellentesque orci lorem, accumsan sit amet ornare sit amet, rhoncus non massa. Nunc in tellus
            auctor, convallis odio ultricies, lobortis purus. Nullam vitae lacus semper, tincidunt elit in, tincidunt
            massa.</p>
    </div>

</body>
<%- include('./partials/footer.ejs') %>

</html>