<html lang="en">

<%- include('./partials/head.ejs') %>

<body>

    <!-- adding in Partial info for nav section-->
    <%- include('./partials/nav.ejs') %>
    <!-- <nav>
        <div class="site-title">

            <a href="/">
                <h1>Blurred Lines</h1>
            </a>
            <p>A site dedicated to the exploration and discussion of Genders in the 21st Century</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav> -->



    
</body>
<%- include('./partials/footer.ejs') %>

</html>