<nav>
    <div class="site-title">
        <a href="/">
            <h1>Blurred Lines...</h1>
        </a>
        <p>A site dedicated to the exploration and discussion of Genders in the 21st Century</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">Create New Blog</a></li>
        <li><a href="/blogs">All Blogs</a></li>
    </ul>
</nav>